<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  .table {
  margin-left: auto;
  margin-right: auto;
  }
  .form-group {
  margin-left: auto;
  margin-right: auto;
  }
  .form-control form-control {
  margin-left: auto;
  margin-right: auto;
  }
  .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  }
</style>
<head>
  <title>Thailand Electoral 2021</title>
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="imgcontainer">
  <h2>Party/Candidate Explorer and Self management</h2>
  <img src="{{url_for('static', filename='CitizenMain.jpg')}}" width="350" height="220">
</div>
</form>
<form action={{ url_for('userlogin') }} method="post">
  <div class="form-group" style="width: 98%">
    <label for="uname"><b>CitizenId</b></label>
    <input type="text" placeholder="13-digits" class="form-control" name="citizenid" required>

    <label for="uname"><b>BirthDate</b></label>
    <input type="text" placeholder="dd/mm/yyyy" class="form-control" name="birthdate" required>
    
    <label for="uname"><b>Password</b></label>
    <input type="text" placeholder="password" class="form-control" name="password" required>

    <button href="/C1" type="submit" class="btn btn-success btn-xs mt-3" style="width: 500px">Login</button>
  
  </div>
</form>

</body>
</html>
