<!DOCTYPE html>
<html>
<style>
  .Add Member {
  margin-left: auto;
  margin-right: auto;
  }
  .form-control form-control {
  margin-left: auto;
  margin-right: auto;
  }
  .form-group {
  margin-left: auto;
  margin-right: auto;
  }
</style>
<head>
  <title>Thailand Electoral 2021</title>
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="UpdateUser mx-4">
<h2>Editing Profile</h2>
  <form action="{{ url_for('updateuser') }}" method="post">
    <div class="form-group">
      <label for="fname">Province</label>
      <input type="text" class="form-control form-control" style="width: 500px" placeholder="Enter Leader name" name="province" required>
    </div>
    <div class="form-group">
      <label for="fname">District</label>
      <input type="text" class="form-control form-control" style="width: 500px" placeholder="Enter Province" name="district" required>
    </div>
    <div class="form-group">
      <label for="fname">Phonenumber</label>
      <input type="text" class="form-control form-control" style="width: 500px" placeholder="Enter District" name="phonenumber" required>
    </div>
    <button type="submit" class="pull-right btn btn-info" style="width: 98px">Update</button>
    
</div>
</form>

</body>
</html>