<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  right: 50%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
}

.container {
  height: 220px;
  position: relative;
  border: 3px solid green;
}



</style>
<title>Thailand Electoral 2021</title>

</head>
<body>

<h1>Top Favorite</h1>
<div class="1st people">
    <h2>1st</h2>
    <img src="profiletest.jpg" alt="Avatar" width="200" height="200">
</div>

<div class="2nd people">
    <h2>2nd</h2>
    <img src="profiletest.jpg" alt="Avatar"  width="200" height="200">
</div>

<div class="3rd people">
    <h2>3rd</h2>
    <img src="profiletest.jpg" alt="Avatar"  width="200" height="200">
</div>

<div style="text-align: center;">
    <img style="text-align:center;" src="lineHorizon.png" alt="Avatar" width="750">
</div>

<h1>Parties List</h1>

<div class="container">
  <div class="center">
    <h2>PartyName:</h2>
    <h2>PartyId:</h2>
    <h2>PartyFav:</h2>
    <button onclick="location.href='G2.html'" type="button">
         Edit Party</button>
  </div>
</div>

<div class="container">
  <div class="center">
    <h2>PartyName:</h2>
    <h2>PartyId:</h2>
    <h2>PartyFav:</h2>
    <button onclick="location.href='G2.html'" type="button">
         Edit Party</button>
  </div>
</div>

<div class="container">
  <div class="center">
    <h2>PartyName:</h2>
    <h2>PartyId:</h2>
    <h2>PartyFav:</h2>
    <button onclick="location.href='G2.html'" type="button">
         Edit Party</button>
  </div>
</div>

<button onclick="location.href='G4.html'" type="button">
         Add more Party</button>

</div>
</body>
</html>