<!DOCTYPE html>
<html>
<style>
  .Add Member {
  margin-left: auto;
  margin-right: auto;
  }
  .form-control form-control {
  margin-left: auto;
  margin-right: auto;
  }
  .form-group {
  margin-left: auto;
  margin-right: auto;
  }
</style>
<head>
  <title>Thailand Electoral 2021</title>
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<form action={{ url_for('addmember') }} method="post">
  <div class="form-group" style="width: 98%">
    <h2>Add Member</h2>
    
    <label for="uname"><b>Name</b></label>
    <input type="text" class="form-control form-control" style="width: 500px" placeholder="Enter MemberName" name="name" required>

    <label for="uname"><b>Position</b></label>
    <input type="text" class="form-control form-control" style="width: 500px" placeholder="Enter Position" name="position" required>

    <label for="uname"><b>Province</b></label>
    <input type="text" class="form-control form-control" style="width: 500px" placeholder="Enter Province" name="province" required>

    <label for="uname"><b>District</b></label>
    <input type="text" class="form-control form-control" style="width: 500px" placeholder="Enter District" name="district" required>

    <button href="/G1" type="submit" class="pull-right btn btn-info mt-3" style="width: 98px">Add</button>
  </div>
</form>
<hr>
<form action={{ url_for('deletemember') }} method="post">
  <div class="form-group" style="width: 98%">

    <h2>Delete Member</h2>

    <label for="uname"><b>Name</b></label>
    <input type="text" class="form-control form-control" style="width: 500px" placeholder="Enter MemberName" name="name" required>

    <button href="/G1" type="submit" class="pull-right btn btn-danger mt-3" style="width: 98px">Delete</button>
  </div>
</form>
</body>
</html>